*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(126, 126, 208);
    overflow: hidden;
}
::-webkit-input-placeholder{
    color: white;
}
input{
    padding: 5px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 300px;
}
.btn{
    color: white;
    width: 300px;
    /* height: 30px; */
    text-align: center;
    font-weight: bold;
    margin: auto;
    outline: none;
    border-radius: 8px;
    
}
span{
    color: red;
}

.navBar{
    margin-top: 210px;
}
.Form-col{
    margin-top: 100px;
}
.outerCircle{
    width: 620px;
    height: 620px;
    border-radius: 50%;
    position: relative;
    margin-left: -325px;
    background: conic-gradient( white 120deg, crimson 120deg 180deg,  green 180deg 300deg, rgb(126, 126, 208) 300deg);
    transform: rotate(115deg);
    overflow: hidden;
    
}

.innerCircle{
    width: 300px;
    height: 300px;
    border: 4px solid goldenrod;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 154px;
    right: 180px;
    z-index: 11;
    background-color: white;
}
.resetAccess{
    position: relative;
    z-index: 11;
    transform: rotate(244deg);
    right: 149px;
    top: -241px;
}
.report{
    position: relative;
    z-index: 11;
    top: -23px;
    left: -314px;
    transform: rotate(-170deg);
    color: white;
}
.login{
    position: relative;
    z-index: 11;
    bottom: 139px;
    right: -172px;
    transform: rotate(-65deg);
    color: black;

}


/* Media Queries */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body{
        overflow: visible;
        overflow-x: hidden;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   .outerCircle{
       width: 550px;
       height: 550px;
   }
   .innerCircle{
       width: 240px;
       height: 240px;
   }
   .report{
    top: -22px;
    left: -255px;
   }
   .resetAccess{
    right: 110px;
    top: -216px;
   }
} 

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   .outerCircle{
       width: 620px;
       height: 620px;
   }
   .innerCircle{
       width: 300px;
       height: 300px;
   }
}
